{% extends "app_movies/plantilla_base.html" %}

{% block contenido_base %}

    <br> <br>
        <div class="container mt-5">
        <table class="table" center>
            <thead >
                <tr>
                    <th>Nombre</th>
                    <th>Año de Lanzamiento</th>
                                                        
                </tr>
            </thead>
            <tbody>
                    {% for titulo in titulo %}
                    <tr>
                    <th>{{titulo.nombre}}</th>
                    <th>{{titulo.ano_lanzamiento}}</th>
                    <th>{{rating.rating}}</th>
                    </tr>
                    {% endfor %}

                    

            </tbody>
        </table>

{% endblock contenido_base %}