{% extends "app_movies/plantilla_base.html" %}

{% block contenido_base %}

    <br> <br>
        <div class="container mt-5">
        <table class="table" center>
            <thead >
                <tr>
                    <th>Nombre</th>
                    <th>Año de Lanzamiento</th>
                    <th>Rating</th>
                    <th>Genero</th>
                                                        
                </tr>
            </thead>
            <tbody>
                    {% for titulo in titulo %}
                    <tr>
                    <th>{{titulo.nombre}}</th>
                    <th>{{titulo.ano_lanzamiento}}</th>
                    <th>{{titulo.rating}}</th>
                    <th>{{titulo.genero}}</th>
                    </tr>
                    {% endfor %}

                    

            </tbody>
        </table>
<br>
       <h3> <a href="{% url 'formulario_titulo' %}">Crear Titulo!</a> </h3>
       <br>
       <h3> <a href="{% url 'busqueda_titulo_form' %}">Buscar Titulos</a> </h3>
<br>
<br>
<h3> Todas las Peliculas </h3>
{% for titulo in titulo %}
<br>
<span>{{titulo.nombre}}</span>
{% endfor %}


{% endblock contenido_base %}